@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root {
    --primary-color: #07a7db;
    --button-color: #db073d;
    --button-hover: #07db3b;
}

body {
    background-color: var(--primary-color);    
    /*background-image: url(./img/pattern_halloween-1_1_3_0-0_30_2__f9c64f_f94144_f3722c.png);*/
    font-family: 'Alkatra', cursive, sans-serif;
    font-size: 18px; /* testing font size for form fields added 7-07-2023 */
    
}

main {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;  
  width: 60%;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 25px black;
}

h1 {
  text-align: center;
  font-size: 3vw;  
  margin: 0;
}

p {
  text-align: center;
  font-size: 2vw;
  margin: 0;
}

/* Label */
#label {
  margin-left: 10%;
}

/*Name Field */
input[type=text] {
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* Email Field */
input[type=email] {
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

/* drop down for age */
input[type=number] {
  display: block;
  margin-left: 10%;
}

/* may we contact you */
#dropdown {
  display: block;
  margin-left: 10%;
}

/* phone number */
#phone {
  display: block;
  margin-left: 10%;
}

/* Gender radio */
input[type=radio] {
  display: inline-block;
}

#gender {
  margin-bottom: 0%;
  text-align: left;
  font-size: 16px;
  margin-left: 10%;
}

/* Check box - agree to terms of service */
#agreeyes {
  margin-left: 10%;
}

.agreeyes {
  display: inline-block;
}

#agreeno {
  margin-left: 5%;
}

.agreeno {
  display: inline-block;
}

/* Text Area */
#feedback {
  display: block;
  margin-left: 10%;  
}

.textarea {
  display: block;
  border-radius: 5px;
  margin-left: 10%;
  width: 80%;
}

/* Submit Button */
#submit {
  color: white;
  font-size: 2vw;  
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 20px;
  width: 80%;
  height: 50px;
  border-radius: 10px;
  background-color: var(--button-color);
  box-shadow: 5px 5px 5px black;
}

#submit:hover {
  background-color: var(--button-hover);
  box-shadow: 10px 10px 10px black;
}



/* Media Query */
@media screen and (max-width: 800px) {
  #agreeno {
    margin-left: 10%;
  }  
  .agreeno {
    display: inline-block;
  }
}