@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

:root {
    --primary-color: #0bb1ed;
}

body {
    background-color: var(--primary-color);
    font-family: 'Alkatra', cursive, sans-serif;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  background-color: aliceblue;
  border: 2px solid black;
  border-radius: 10px;
}

h1 {
  text-align: center;
  font-size: 48px;  
}

p {
  text-align: center;
  font-size: 24px;
}

/*Name Field */
#name-label {
  margin-left: 100px;
}

input[type=text] {
  display: block;
  border-radius: 5px;
  box-sizing: border-box;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

/* Email Field */
#email-label {
 margin-left: 100px;
}

input[type=email] {
  display: block;
  box-sizing: border-box;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


/* drop down for age */
input[type=number] {
  display: block;
}

#dropdown {
  display: block;
}


/* radio */
input[type=radio] {
  display: inline-block;
}

#gender {
  margin-bottom: 0%;
  text-align: left;
  font-size: 16px;
}



/* Check box - agree to terms of service */
/*input[type=checkbox] {
  display: block;
}*/

.agreeyes {
  display: inline-block;
}

.agreeno {
  display: inline-block;
}

